@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

html{
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171717;
  color: #EDEDED;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #DA0037;
}

.footer {
  background-color: #111111;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.btn-primary {
  background-color: #DA0037;
  border-color: #DA0037;
}

.chip{
	display: flex;
	text-align:center;
  width: 200px;
	justify-content: center;
	align-items: center;
	background: linear-gradient( 125deg, #444444 0 50%, #DA0037 50% 100%);
  border-radius: 5%;
}

.chip p{
	font-weight:bold;
  margin: 5px;
}

.dark{
  background-color: #2B2B2B;
  color: #EDEDED;
  border-color: #171717;
}

.bi:hover{
  color: #DA0037;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #EDEDED;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #EDEDED;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #EDEDED;
}

.loading-card {
  display: inline-block;
  position: relative;
  height: 325px;
  width: 240px;
  background: linear-gradient(90deg, #111111, #0e0e0e, #111111);
  background-size: 200% 100%;
  animation: gradientAnimation 4s infinite linear;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

.error-chip {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 25px;
  font-size: 14px;
  border-radius: 25px;
  background-color: #BE314490;
}
